<div *ngIf="flag===1">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="center">
				<div class="card">
					<div class="card-header">
						<h4>Login</h4>
					</div>
					<div class="card-body">
						<form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value)">
							<!-- Enter your Username -->
							<div class="mb-3">
								<input type="text" class="form-control" name="username" placeholder="username" ngModel>
							</div>
							<!-- Enter your Password -->
							<div class="mb-3">
								<input type="password" class="form-control" name="password" placeholder="password"
									ngModel>
							</div>
							<!-- Submit Button -->
							<div class="d-grid gap-2 col-6 mx-auto">
								<button type="submit" class="btn btn-primary login_btn btn-large">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="flag===2">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="center">
				<div class="card">
					<div class="card-header">
						<h4>Enter your Aadhaar Number</h4>
					</div>
					<div class="card-body">
						<form #userDetails="ngForm" (ngSubmit)="onClickSubmitAadhar(userDetails.value)">
							<!-- Enter your Aadhaar -->
							<div class="mb-3">
								<input type="text" class="form-control" name="aadhaarNumber" placeholder="Enter your Aadhaar details here" ngModel>
							</div>
						
							<!-- Submit Button -->
							<div class="d-grid gap-2 col-6 mx-auto">
								<button type="submit" class="btn btn-primary login_btn btn-large">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>